<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lhc.newV.system.mvc.mapper.TableMapper">
    <select id="findList" resultType="com.lhc.newV.system.mvc.entity.vo.TableColumnVO" parameterType="java.util.Set">
        SELECT
            a.id tableId,
            a.NAME tableName,
            a.description tableDescription,
            a.alias tableAlias,
            a.position_x,
            a.position_y,
            b.id columnId,
            b.name columnName,
            b.alias columnAlias,
            b.description columnDescription,
            b.data_type,
            b.is_primary_key,
            b.foreign_key_id,
            b.foreign_table_id
        FROM
        `db_table` a
        JOIN db_column b ON a.id = b.table_id
        <where>
            <if test="tableIds!=null and tableIds.size > 0">
                and b.table_id in <foreach collection="tableIds" item="item" open="(" separator="," close=")">'${item}'</foreach>
            </if>
        </where>
    </select>

    <select id="findForeignTablesByTableId" resultType="cn.hutool.json.JSONObject">
        SELECT
            table_id tableId, foreign_table_id foreignTableId
        FROM
            db_column
        WHERE
            foreign_table_id is not null
            and (foreign_table_id = #{tableId}  or table_id = #{tableId})
    </select>
</mapper>